{% extends 'EnsJobeetBundle::layout.html.twig' %}

{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="category">
        <div class="feed">
            <a href="{{ path('EnsJobeetBundle_category', { 'slug': category.slug, '_format': 'atom' }) }}">Feed</a>
        </div>
        <h1>{{ category.name }}</h1>
    </div>

    {% include 'EnsJobeetBundle:Job:list.html.twig' with {'jobs': pagination} %}

    {% if totalPages > 1 %}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}

    <div class="pagination_desc">
        <strong>{{ pagination.getTotalItemCount }}</strong> jobs in this category

        {% if totalPages > 1 %}
            - page <strong>{{ pagination.getCurrentPageNumber }}/{{ totalPages }}</strong>
        {% endif %}
    </div>

{% endblock %}